{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load svg_icons %}

{% block links %}{% endblock links %}

{% block page_title %}
<h2 class="page-title">
    <h2 class="page-title">
        {% if page_title_icon %}{% svg_icon page_title_icon "icon" %}{% endif %} {{page_title}}
    </h2>
</h2>
{% endblock page_title %}

{% block page_title_actions_items %}
<a href="#" class="btn btn-ghost-light btn-icon" data-bs-toggle="modal" data-bs-target="#modal-form"
    aria-label="Create new report">
    {% svg_icon "settings" "icon" %}
</a>
{% endblock page_title_actions_items %}

{% block page_body %}
<div class="row row-deck row-cards">
    {% if client %}
    {% include './top_cards_w_graph.html' with ctx=client chart_id="chart-new-clients" %}
    {% endif %}
    {% if financial %}
    {% include './top_cards_w_graph.html' with ctx=financial chart_id="chart-financial" %}
    {% endif %}
    {% if domain %}
    {% include './top_cards_w_graph.html' with ctx=domain chart_id="chart-domain" %}
    {% endif %}
    {% if contract %}
    {% include './top_cards_w_graph.html' with ctx=contract chart_id="chart-contract" %}
    {% endif %}
    <div class="col-lg-6">
        <div class="row row-cards">
            {% include './webservice_graph.html' %}
            {% if webservice_progressbars %}
            {% include './webservice_progressbar.html' with webservice_progressbars=webservice_progressbars %}
            {% endif %}
        </div>
    </div>


</div>
{% include './modal.html' %}
{% endblock page_body %}

{% block javascript %}
<script src="{% static 'base/dist/libs/apexcharts/dist/apexcharts.min.js' %}"></script>
<script src="{% static 'base/dist/libs/jquery/jquery-3.6.0.min.js' %}"></script>
<script>
    var showModal = "{{show_modal}}";
</script>
<script src="{% static 'dashboard/js/dashboard.js' %}"></script>
<script src="{% static 'dashboard/js/webservice_data_chart.js' %}"></script>
{% if client %}<script src="{% static 'dashboard/js/new_client_data_chart.js' %}"></script>{% endif %}
{% if domain %}<script src="{% static 'dashboard/js/domain_data_chart.js' %}"></script>{% endif %}
{% if financial %}<script src="{% static 'dashboard/js/financial_data_chart.js' %}"></script>{% endif %}
{% if contract %}<script src="{% static 'dashboard/js/contract_data_chart.js' %}"></script>{% endif %}
{% endblock javascript %}