{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load svg_icons %}

{% block links %}{% endblock links %}

{% block page_title %}
<h2 class="page-title">
    <h2 class="page-title">
        {% if page_title_icon %}{% svg_icon page_title_icon "icon" %}{% endif %} {{page_title}}
    </h2>
</h2>
{% endblock page_title %}

{% block page_title_actions_items %}
<a href="#" class="btn btn-ghost-light btn-icon" data-bs-toggle="modal" data-bs-target="#modal-form"
    aria-label="Create new report">
    {% svg_icon "settings" "icon" %}
</a>
{% endblock page_title_actions_items %}

{% block page_body %}

{% include './modal.html' %}
{% endblock page_body %}

{% block javascript %}
<script src="{% static 'base/dist/libs/jquery/jquery-3.6.0.min.js' %}"></script>
<script>
    var showModal = "{{show_modal}}";
</script>
<script src="{% static 'dashboard/js/dashboard.js' %}"></script>
{% endblock javascript %}