{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load svg_icons %}
{% load bootstrap5 %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block links %}
<link href="{% static 'base/dist/libs/select2/css/select2.min.css' %}" rel="stylesheet" />
<link href="{% static 'base/dist/libs/select2/css/select2-bootstrap.min.css' %}" rel="stylesheet" />
{% endblock links %}

{% block page_title_actions_items %}
<a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-client">
    {% svg_icon "plus" "icon" %}
    {% trans "Add new client" %}
</a>
<a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#modal-client"
    aria-label="Create new report">
    {% svg_icon "plus" "icon" %}
</a>
{% endblock page_title_actions_items %}

{% block page_body %}
{% if filter %}
<div class="card mb-3">
    <div class="card-body">
        <form action="" method="get" class="form form-inline" id="form-filter">
            <div class="row">
                {% for input in filter.form %}
                <div class="form-group col-lg-3 col-md-6 col-sm-12 mb-0">
                    {% bootstrap_field input %}
                </div>
                {% endfor %}
                <div class="form-group col-lg-3 col-sm-12 mb-auto mt-auto">
                    <button class="btn btn-primary btn-sm" type="submit" aria-label="Search">
                        {% svg_icon "search" "icon" %} {% trans "Search" %}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endif %}
<div class="card">
    <div class="card-body">
        <form method="post" class="form form-inline" id='form-table'>
            {% csrf_token %}
            <input type="hidden" name="actions" value="actions">
            <div class="d-flex justify-content-end mb-3">
                <div class="w-auto">
                    <div class="input-group mb-2">
                        <select name="action_options" class="form-control" id="action_options">
                            <option value="delete" {% if actions_options == "delete" %} selected {% endif%}>
                                {% trans "Delete" %}
                            </option>
                            <option value="edit" {% if actions_options == "edit" %} selected {% endif%}>
                                {% trans "Edit" %}
                            </option>
                        </select>
                        <a href="javascript:{}" class="btn" title="" onclick="return onClickConfirm();"
                            data-bs-toggle="tooltip" data-bs-original-title="{% trans "Confirm" %}">
                            {% svg_icon "check" "icon text-success" %}
                        </a>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                {% render_table table %}
            </div>
        </form>
    </div>
</div>
{% include './modal.html' %}
{% endblock page_body %}

{% block javascript %}
<script src="{% static 'base/dist/libs/jquery/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'base/dist/libs/select2/js/select2.full.min.js' %}"></script>
<script>
    var showModal = "{{showModal}}";
</script>
<script src="{% static 'client/js/client.js' %}"></script>
{% endblock javascript %}