{% extends './base.html' %}
{% load i18n %}
{% load static %}
{% load svg_icons %}
{% block body_html %}

<body class="antialiased border-top-wide border-primary d-flex flex-column">
    <div class="flex-fill d-flex align-items-center justify-content-center">
        <div class="container-tight py-6">
            <div class="empty">
                <div class="empty-icon">
                    <img alt="" class="mb-4" height="128" src="{% static 'illustrations/undraw_bug_fixing_oc7a.svg' %}">
                    <div class="display-4">{{error_code}}</div>
                </div>
                <p class="empty-title h3">{% trans "Oops ... something went wrong" %}</p>
                <p class="empty-subtitle text-muted">{{error_text}}</p>
                <div class="empty-action">
                    <a class="btn btn-primary" href="{% url 'dashboard:dashboard'%}">
                        {% svg_icon "arrow_back" "icon" %}
                        {% trans "Go to Home" %}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Libs JS -->
    <script src="{% static 'base/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Tabler Core -->
    <script src="{% static 'base/dist/js/tabler.min.js' %}"></script>
    <script>
        document.body.style.display = "block";
    </script>
</body>
{% endblock %}