{% extends './base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% block custom_css %}
<link href="{% static 'dist/css/tabler-buttons.min.css' %}" rel="stylesheet" />
{% endblock %}
{% block body_html %}

<body class="antialiased border-top-wide border-primary d-flex flex-column">
    <div class="flex-fill d-flex flex-column justify-content-center">
        <div class="container-tight py-6">
            <form action="" class="card card-md" method="post">
                {% csrf_token %}
                <div class="card-body">
                    <!--                <h2 class="mb-5 text-center">Login</h2>-->
                    <div class="text-center mb-4">
                        <img alt="{{NAME_OF_ENTERPRISE}}" height="150" src="{% static 'logo.png' %}">
                    </div>
                    <div class="text-muted">
                        {% if form.errors %}
                        <p class="text-danger text-center font-weight-bold mb-2">
                            {% trans "User or Password wrong" %}
                        </p>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">{{form.username|as_crispy_field}}</label>
                    </div>
                    <div class="mb-2">
                        <label class="form-label">{{form.password|as_crispy_field}}</label>
                    </div>
                    <div class="form-footer">
                        <button class="btn btn-primary btn-block" type="submit">{% trans "Login" %}</button>
                    </div>
                </div>
            </form>
            <div class="text-center text-muted">
            </div>
        </div>
    </div>
    <!-- Libs JS -->
    <script src="{% static 'dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Tabler Core -->
    <script src="{% static 'dist/js/tabler.min.js' %}"></script>
    <script>
        document.body.style.display = "block";
    </script>
</body>

{% endblock %}