{% extends './base.html' %}
{% load static %}
{% load i18n %}
{% block body_html %}

<body class="antialiased border-top-wide border-primary d-flex flex-column">
    <div class="flex-fill d-flex align-items-center justify-content-center">
        <div class="container-tight py-6">
            <div class="empty">
                <div class="empty-icon">
                    <img alt="" class="mb-4" height="128"
                        src="{% static 'dist/illustrations/undraw_quitting_time_dm8t.svg' %}">
                </div>
                <p class="empty-title h3">{% trans "Temporarily unavailable for maintenance" %}</p>
                <p class="empty-subtitle text-muted">
                    {% trans "Sorry for the inconvenience, but we are doing maintenance right now. We will be back online at shortly!" %}
                </p>
                <div class="empty-action">
                    <a class="btn btn-primary" href="{% url 'dashboard' %}">
                        <svg class="icon" fill="none" height="24" stroke="currentColor" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" stroke="none" />
                            <line x1="5" x2="19" y1="12" y2="12" />
                            <line x1="5" x2="11" y1="12" y2="18" />
                            <line x1="5" x2="11" y1="12" y2="6" />
                        </svg>
                        {% trans "Go to home" %}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.body.style.display = "block";
    </script>
</body>
{% endblock %}