{% load i18n %}
{% load svg_icons %}
{% load static %}
<aside class="navbar navbar-vertical navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="navbar-brand navbar-brand-autodark">
            <a href="{% url 'dashboard:dashboard' %}">
                <img src="{% static 'logo-white.svg' %}" width="110" height="32" alt="Tabler"
                    class="navbar-brand-image">
            </a>
        </h1>

        <div class="navbar-nav flex-row d-lg-none">

            {% include './header_buttons.html' %}
            {% include './header_notification.html' %}
            {% include './header_options.html' %}

        </div>

        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="navbar-nav pt-lg-3">
                <li class="nav-item">
                    <a class="nav-link" href=".">
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                            {% svg_icon "dashboard" "icon" %}
                        </span>
                        <span class="nav-link-title">
                            {% trans "Dashboard" %}
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'client:view' %}">
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                            {% svg_icon "user" "icon" %}
                        </span>
                        <span class="nav-link-title">
                            {% trans "Clients" %}
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=".">
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                            {% svg_icon "files" "icon" %}
                        </span>
                        <span class="nav-link-title">
                            {% trans "Contracts" %}
                        </span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" role="button"
                        aria-expanded="false">
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                            {% svg_icon "browser" "icon" %}
                        </span>
                        <span class="nav-link-title">
                            {% trans "Service" %}
                        </span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href=".">
                            {% trans "One Page" %}
                        </a>
                        <a class="dropdown-item" href=".">
                            {% trans "Web System" %}
                        </a>
                        <a class="dropdown-item" href=".">
                            {% trans "Mobile" %}
                        </a>
                        <a class="dropdown-item" href=".">
                            {% trans "Domains" %}
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" role="button"
                        aria-expanded="false">
                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                            {% svg_icon "file_invoice" "icon" %}
                        </span>
                        <span class="nav-link-title">
                            {% trans "Financial" %}
                        </span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href=".">
                            {% trans "List" %}
                        </a>
                        <a class="dropdown-item" href=".">
                            {% trans "Charts" %}
                        </a>
                        <a class="dropdown-item" href=".">
                            {% trans "Balance Sheet" %}
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</aside>