{% extends './base.html' %}
{% load i18n %}
{% load svg_icons %}
{% block content %}
<div class="container-xl">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col-auto">
                <div class="page-pretitle">{{view.subtitle}}</div>
                <h2 class="page-title">
                    <a href="{{obj.get_back_url}}">
                        <span class="text-primary">{% svg_icon "arrow_back" "icon-md" %}</span>
                    </a>
                    {{obj.get_full_name}}
                    <a href="{{obj.get_change_url}}">
                        <span class="text-success">{% svg_icon "edit" "icon-md" %}</span>
                    </a>
                    {% block delete %}
                    <a href="{{obj.get_delete_url}}">
                        <span class="text-danger">{% svg_icon "trash" "icon-md" %}</span>
                    </a>
                    {% endblock %}
                </h2>
            </div>
            <div class="col-auto ml-auto d-print-none">
                {% block page_header_actions %}
                <a class="btn btn-sm btn-primary ml-3 d-none d-sm-inline-block" href="{{obj.get_create_url}}">
                    {% svg_icon "plus" "icon-md" %}
                    {% trans "New" %}
                </a>
                {% endblock %}
            </div>
        </div>
    </div>
    {% block profile_content %}{% endblock %}
</div>
{% endblock %}